<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/error.css') }}">

    <title>Scavenger Hunt</title>
</head>
<body>
    <div class="align-mid pos-absolute">
        <h1>
            <span class="errcode">404</span>
            <br/>
            <span class="errdesc">Page Not Found</span>
        </h1>
        <p>This may mean that you have keyed in a wrong answer.<br/>Pleae return to the previous page.</p>
    </div>
</body>
</html>