ol {
    width: max-content;
    text-align: left;
    line-height: 1.5em;
    margin: auto;
    /* border: 1px solid white; */
}
ol li {
    padding-left: 0.5em;
}

.wrapper {
    border: 1px solid #ffd55e;
    /* top right bottom left */
    padding: 1em 1em 1em 0;
    border-radius: 10px;
    width: max-content;
    margin: auto;
}

.indent {
    margin-left: 1.2em !important;
    margin-right: 1.2em !important;
}